<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
        <div class="row">
            <div class="col-md-8 offset-2 text-center">
                    <h4>Welcome to SoluLab Wallet!!!</h4>
                    <a href="/login" class="btn">Login</a>
                    <a href="/signup" class="btn">Signup</a>
            </div>
        </div>
        <%- include('./includes/end.ejs') %>